/* You can add global styles to this file, and also import other style files */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 !important;
  }
  

  html {
    scroll-behavior: smooth;
    font-size: 85%;
  }
  
  body {
    background: #fbfbfd !important;
    // color: #a5a4a4;
    line-height: 1.6;
    // font-family: "IBM Plex Sans Condensed", sans-serif;
  }
  
  .navbar {
    background-color: #8a1f7a !important;
  }
  
  .hero-container {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to top, #02030f 0%, #330867 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  /* SVG Overlay */
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/images/asterisk-hero.svg") no-repeat center center;
    background-size: contain;
    opacity: 0.2;
    z-index: 1;
  }
  
  /* Content on top of the overlay */
  .hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 15px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
  
    .subheadline {
      color: #bbb;
      text-transform: uppercase;
    }
  
    .headline {
      font-weight: bold;
      font-size: 4rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  
    .highlight {
      color: #8a1f7a;
    }
  
    .description {
      color: #bbb;
      font-size: 1.6rem;
    }
  
    .cta-button-container {
      margin-top: 2rem;
    }
  
    .cta-button {
      background-color: #8a1f7a;
      color: white;
      padding: 1em 3em;
      font-size: 1.25rem;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
  
    .cta-button:hover {
      background-color: #8a1f7a;
    }
  }
  
  #home {
    background-color: white;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color: #000;
    background: white !important;
  
    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.5em;
      margin-bottom: 40px;
    }
  
    .cta-button {
      background-color: #07033d;
      padding: 15px 30px;
      font-size: 18px;
      color: white;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
  
    .cta-button:hover {
      background-color: #053080;
    }
  }
  
  /* About Section */
  #about {
    padding: 10rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color: #000;
    background-color: rgb(243, 242, 241);
  
    h2 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: rgb(23, 27, 63);
    }
  
    p {
      font-size: 1.4em;
    }
  
    /* CSS */
    .button-53 {
      background-color: #8a1f7a;
      border: 0 solid #e5e7eb;
      box-sizing: border-box;
      color: #ece6e6;
      display: flex;
      font-size: 1rem;
      font-weight: 700;
      justify-content: center;
      line-height: 1.75rem;
      padding: 0.75rem 1.65rem;
      position: relative;
      text-align: center;
      text-decoration: none #000000 solid;
      text-decoration-thickness: auto;
      // width: 100%;
      max-width: 460px;
      position: relative;
      cursor: pointer;
      transform: rotate(-2deg);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  
    .button-53:focus {
      outline: 0;
    }
  
    .button-53:after {
      content: "";
      position: absolute;
      border: 1px solid #000000;
      bottom: 4px;
      left: 4px;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
    }
  
    .button-53:hover:after {
      bottom: 2px;
      left: 2px;
    }
  
    @media (min-width: 768px) {
      .button-53 {
        padding: 0.75rem 3rem;
        font-size: 1.25rem;
      }
    }
  }
  
  #why-choose {
    background: url("/assets/images/over.svg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Optional: Parallax Effect */
    position: relative;
    padding: 5rem 0;
  
    /* Overlay for Better Readability */
    #why-choose::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6); /* Dark Overlay */
    }
  
    /* Ensure Content Stays Above the Overlay */
    #why-choose .container {
      position: relative;
      z-index: 1;
    }
  
    /* Card Styling */
    .card {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      backdrop-filter: blur(5px);
    }
  }
  
  #portfolio {
    padding: 40px 0;
    background-color: rgb(229, 228, 241) !important;
  
    h2 {
      font-size: 3em;
      font-weight: 400;
      color: blueviolet;
      font-family: "IBM Plex Sans Condensed", sans-serif;
    }
  
    .card {
      background-color: #eceaea;
      transition: transform 0.3s ease;
      text-align: left;
      border: none !important;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
  
      .card-title {
        font-size: 1.4em;
        color: teal;
  
        &:hover {
          color: #0633c9;
          text-decoration: underline;
        }
      }
  
      .card-text {
        font-size: 1em;
      }
    }
  
    #gallery .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .card-body {
      flex-grow: 1;
    }
  
    .card-img-top {
      width: 100%;
      height: auto;
    }
  }
  
  .scroll-effects {
    font-family: "IBM Plex Sans Condensed", sans-serif;
  
    h2 {
      font-size: 6em;
      color: purple;
    }
  
    .stack__card {
      display: flex;
      // justify-content: center;
      // align-items: center;
      flex-direction: column;
      height: 100vh;
      position: sticky;
      top: 0;
      font-size: 4rem;
      padding: 4em 0;
    }
  
    h1 {
      font-size: 0.7em;
      color: white;
    }
  
    p {
      font-size: 20px;
      color: gainsboro;
    }
  
    .stack__card:nth-child(1) {
      background-color: #0c0101;
      // opacity: 1;
    }
  
    .stack__card:nth-child(2) {
      background-color: #020007e5;
    }
  
    .stack__card:nth-child(3) {
      background-color: #3490dc;
    }
  
    .stack__card:nth-child(4) {
      background-color: #630323;
    }
  
    .stack__card:nth-child(5) {
      background-color: #020930ce;
    }
  
    .stack__card:nth-child(6) {
      background-color: #012e24ce;
    }
  
    .stack__card:nth-child(7) {
      background-color: #4d053dce;
    }
  }
  
  /* General Styling */
  #industries-and-services {
    padding: 80px 0;
    font-family: "IBM Plex Sans Condensed", sans-serif;
  
    p {
      color: #666;
      font-size: 16px;
    }
  
    /* Industry Items Styling */
    .industry-item {
      background-color: #f8f9fa;
      padding: 10px 30px;
      margin: 10px;
      font-weight: 600;
      border: 1px solid #ddd;
      box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
        rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    }
  
    .d-flex {
      display: flex;
      flex-wrap: wrap;
    }
  
    /* Core Services Cards */
    .service-card {
      background-color: #f1f1f1;
      padding: 20px;
      margin: 15px;
      border-radius: 8px;
      border: 1px solid #ddd;
      width: 45%;
    }
  
    img {
      width: 50px;
      height: 50px;
      // color: red !important;
      background-color: rgb(206, 204, 204);
      border-radius: 98px !important;
      padding: 1em;
    }
  
    .service-card h3 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #333;
    }
  
    .service-card p {
      font-size: 14px;
      color: #666;
    }
  }
  
  /* Contact Section */
  #contact {
    padding: 80px 0;
    // text-align: center;
    background-color: #000;
    color: white;
  }
  

  // git@github.com:guglextech/guglex-tech-official-website.git 

  .footer {
    background-color: #000;
    color: white;
  }
  
  .bbline {
    border-bottom: 2px solid #37324e52;
    padding: 1em 0;
  }
  
  .btopline {
    border-top: 2px solid #ff9900;
  }
  
